[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
numpy = "1.20.0"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyterlab = "*"
scikit-learn = "0.24.1"
mpyc = "0.7"
crypten = "0.1"
torch = "1.4.0"

[requires]
python_version = "3.7"
